In [1]:
# Import pandas library
import pandas as pd

C:\Users\Nikita Hans\Anaconda3\envs\r-tutorial\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Nikita Hans\Anaconda3\envs\r-tutorial\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\Nikita Hans\Anaconda3\envs\r-tutorial\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  stacklevel=1)

## Total depression %

In [2]:
# Reading first sheet - prevalence-by-mental-and-substa
total_percent = pd.read_excel('Mental health Depression disorder Data.xlsx', sheet_name = 0)

In [ ]:
# Preview dataset
total_percent.head()

In [3]:
# Subset dataset for depression
total_depression_percent = total_percent[["Entity","Code","Year","Depression (%)"]]

In [ ]:
# Preview dataset
total_depression_percent.head()

In [4]:
# Subset dataset for depression in Australia
total_depression_percent_australia = total_depression_percent[total_depression_percent['Entity'] == 'Australia']

In [ ]:
# Preview dataset
total_depression_percent_australia.head()

In [5]:
# Filter data for years 2004 onwards
total_depression_percent_australia = total_depression_percent_australia[total_depression_percent_australia['Year'] > 2003]

In [6]:
# Preview dataset
total_depression_percent_australia.head(10)

        Entity Code  Year  Depression (%)
322  Australia  AUS  2004        4.920486
323  Australia  AUS  2005        4.929038
324  Australia  AUS  2006        4.923528
325  Australia  AUS  2007        4.906827
326  Australia  AUS  2008        4.882334
327  Australia  AUS  2009        4.857927
328  Australia  AUS  2010        4.834220
329  Australia  AUS  2011        4.813622
330  Australia  AUS  2012        4.790080
331  Australia  AUS  2013        4.759686

In [11]:
# total_depression_percent_australia.to_csv("Total_depression_percent_AUS.csv", index = False)

## Total depression % by age

In [12]:
# Reading third sheet - prevalence-of-depression-by-age
total_percent_by_age = pd.read_excel('Mental health Depression disorder Data.xlsx', sheet_name = 2)

In [ ]:
# Preview dataset
total_percent_by_age.head()

In [13]:
# Subset dataset for depression in Australia
total_percent_by_age_australia = total_percent_by_age[total_percent_by_age['Entity'] == 'Australia']

In [ ]:
# Preview dataset
total_percent_by_age_australia.head()

In [14]:
# Filter data for years 2004 onwards
total_percent_by_age_australia = total_percent_by_age_australia[total_percent_by_age_australia['Year'] > 2003]

In [ ]:
# Preview dataset
total_percent_by_age_australia.head(10)

In [15]:
# Filter data by age of target audience and potential audience
total_percent_by_age_australia = total_percent_by_age_australia[["Entity", "Code", "Year", "20-24 years old (%)", "15-19 years old (%)", "25-29 years old (%)", "Age-standardized (%)", "15-49 years old (%)"]]

In [16]:
# Preview dataset
total_percent_by_age_australia.head()

,Entity,Code,Year,20-24 years old (%),15-19 years old (%),25-29 years old (%),Age-standardized (%),15-49 years old (%)
322,Australia,AUS,2004,7.089759,5.832159,6.700217,4.920486,6.481967
323,Australia,AUS,2005,7.106204,5.855264,6.709736,4.929038,6.493635
324,Australia,AUS,2006,7.093438,5.853546,6.689783,4.923528,6.486472
325,Australia,AUS,2007,7.052174,5.818322,6.647053,4.906827,6.461450
326,Australia,AUS,2008,6.992847,5.777266,6.587847,4.882334,6.426644

In [17]:
# total_percent_by_age_australia.to_csv("Total_depression_percent_by_age_AUS.csv", index = False)

## Total depression % by gender

In [18]:
# Reading fourth sheet - prevalence-by-mental-and-substa
total_percent_by_gender = pd.read_excel('Mental health Depression disorder Data.xlsx', sheet_name = 3)

In [ ]:
# Preview dataset
total_percent_by_gender.head()

In [19]:
# Subset dataset for depression in Australia
total_percent_by_gender_australia = total_percent_by_gender[total_percent_by_gender['Entity'] == 'Australia']

In [ ]:
# Preview dataset
total_percent_by_gender_australia.head()

In [20]:
# Filter data for years 2004 onwards
total_percent_by_gender_australia = total_percent_by_gender_australia[total_percent_by_gender_australia['Year'] > 2003]

In [ ]:
# Preview dataset
total_percent_by_gender_australia.tail(10)

In [21]:
# Check NULL values
total_percent_by_gender_australia.isnull().sum()

Entity                       0
Code                         0
Year                         0
Prevalence in males (%)      2
Prevalence in females (%)    2
Population                   0
dtype: int64

In [22]:
# Remove rows with NaN values
total_percent_by_gender_australia = total_percent_by_gender_australia.dropna()

In [23]:
# Check NULL values
total_percent_by_gender_australia.isnull().sum()

Entity                       0
Code                         0
Year                         0
Prevalence in males (%)      0
Prevalence in females (%)    0
Population                   0
dtype: int64

In [24]:
total_percent_by_gender_australia.head()

,Entity,Code,Year,Prevalence in males (%),Prevalence in females (%),Population
2474,Australia,AUS,2004,3.820040,5.982915,19880000.0
2475,Australia,AUS,2005,3.822804,5.997198,20179000.0
2476,Australia,AUS,2006,3.817663,5.991572,20526000.0
2477,Australia,AUS,2007,3.803760,5.972281,20916000.0
2478,Australia,AUS,2008,3.785996,5.941450,21332000.0

In [25]:
# total_percent_by_gender_australia.to_csv("Total_depression_percent_by_gender_AUS.csv", index = False)

## Total suicide rate via depression

In [26]:
# Reading fifth sheet - prevalence-by-mental-and-substa
total_suicide_rate = pd.read_excel('Mental health Depression disorder Data.xlsx', sheet_name = 4)

In [ ]:
# Preview dataset
total_suicide_rate.head()

In [27]:
# Subset dataset for depression in Australia
total_suicide_rate_australia = total_suicide_rate[total_suicide_rate['Entity'] == 'Australia']

In [ ]:
# Preview dataset
total_suicide_rate_australia.head()

In [28]:
# Filter data for years 2004 onwards
total_suicide_rate_australia = total_suicide_rate_australia[total_suicide_rate_australia['Year'] > 2003]

In [ ]:
# Preview dataset
total_suicide_rate_australia.tail(10)

In [29]:
# Check NULL values
total_suicide_rate_australia.isnull().sum()

Entity                                                      0
Code                                                        0
Year                                                        0
Suicide rate (deaths per 100,000 individuals)               2
Depressive disorder rates (number suffering per 100,000)    2
Population                                                  0
dtype: int64

In [30]:
# Remove rows with NaN values
total_suicide_rate_australia = total_suicide_rate_australia.dropna()

In [31]:
# Confirm NULL values
total_suicide_rate_australia.isnull().sum()

Entity                                                      0
Code                                                        0
Year                                                        0
Suicide rate (deaths per 100,000 individuals)               0
Depressive disorder rates (number suffering per 100,000)    0
Population                                                  0
dtype: int64

In [32]:
# Preview dataset
total_suicide_rate_australia.head()

,Entity,Code,Year,"Suicide rate (deaths per 100,000 individuals)","Depressive disorder rates (number suffering per 100,000)",Population
2474,Australia,AUS,2004,10.653485,4375.236303,19880000.0
2475,Australia,AUS,2005,10.414253,4381.721579,20179000.0
2476,Australia,AUS,2006,10.255009,4376.469916,20526000.0
2477,Australia,AUS,2007,10.540822,4361.404148,20916000.0
2478,Australia,AUS,2008,10.696836,4339.665686,21332000.0

#### TODO: Calculate suicide rate due to depression from the above data

## Total depression population

In [33]:
# Reading sixth sheet - prevalence-by-mental-and-substa
total_depression_population = pd.read_excel('Mental health Depression disorder Data.xlsx', sheet_name = 5)

In [ ]:
# Preview dataset
total_depression_population.head()

In [34]:
# Subset dataset for depression in Australia
total_depression_population_australia = total_depression_population[total_depression_population['Entity'] == 'Australia']

In [ ]:
# Preview dataset
total_depression_population_australia.head()

In [35]:
# Filter data for years 2004 onwards
total_depression_population_australia = total_depression_population_australia[total_depression_population_australia['Year'] > 2003]

In [36]:
# Preview dataset
total_suicide_rate_australia.tail(10)

,Entity,Code,Year,"Suicide rate (deaths per 100,000 individuals)","Depressive disorder rates (number suffering per 100,000)",Population
2478,Australia,AUS,2008,10.696836,4339.665686,21332000.0
2479,Australia,AUS,2009,10.740312,4318.201827,21751000.0
2480,Australia,AUS,2010,10.758437,4297.627545,22155000.0
2481,Australia,AUS,2011,10.645355,4280.519197,22538000.0
2482,Australia,AUS,2012,10.494145,4261.766084,22904000.0
2483,Australia,AUS,2013,10.533590,4237.969225,23255000.0
2484,Australia,AUS,2014,10.962727,4216.684419,23596000.0
2485,Australia,AUS,2015,11.277802,4191.014282,23932000.0
2486,Australia,AUS,2016,11.081870,4163.446121,24263000.0
2487,Australia,AUS,2017,11.046885,4137.162467,24585000.0

In [37]:
# Check NULL values
total_depression_population_australia.isnull().sum()

Entity                                                                                                       0
Code                                                                                                         0
Year                                                                                                         0
Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Number) (people suffering from depression)    0
dtype: int64

In [38]:
total_depression_population_australia.head()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Number) (people suffering from depression)
322,Australia,AUS,2004,940615.173427
323,Australia,AUS,2005,955721.548705
324,Australia,AUS,2006,968908.826619
325,Australia,AUS,2007,980261.963209
326,Australia,AUS,2008,990289.063465

In [39]:
# total_depression_population_australia.to_csv("Total_depression_population_AUS.csv", index = False)